miex/share/xml/doctrain.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="categoriestype">
 <xs:sequence>
	<xs:element name="d" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
 </xs:sequence>
</xs:complexType>

<xs:element name="doctrain">
    <xs:complexType>
      <xs:all>

		<xs:element name="topic" type="categoriestype" minOccurs="1" maxOccurs="1"/>

    <xs:element name="title" type="xs:string" maxOccurs="1"/>
				
    <xs:element name="body" type="xs:string" minOccurs="1" maxOccurs="1"/>

      </xs:all> 
    </xs:complexType>
</xs:element>
</xs:schema>
